<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/_head :: head}"></head>
<body>
<div th:replace="~{fragments/_navbar :: navbar}"></div>

<div class="card-dark">
    <h1>Nova Manutenção</h1>

    <form th:action="@{/manutencoes}" th:object="${manutencao}" method="post">
        <label>Moto:</label>
        <select th:field="*{motoId}">
            <option th:each="m : ${motos}" th:value="${m.id}"
                    th:text="${m.modelo} + ' - ' + ${m.identificadorUWB}"></option>
        </select>

        <label>Descrição:</label>
        <textarea th:field="*{descricao}" rows="3"
                  style="width:100%; padding:8px; border-radius:6px; background:#1e1e1e; color:#fff; border:1px solid #00ff88;"></textarea>

        <div style="margin-top:15px; text-align:right;">
            <button type="submit" class="btn-primary">Abrir</button>
            <a th:href="@{/manutencoes}" style="margin-left:10px;">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="~{fragments/_footer :: footer}"></div>
</body>
</html>
