<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/_head :: head}"></head>
<body>
<div th:replace="~{fragments/_navbar :: navbar}"></div>

<div class="card-dark">
    <h1 th:text="${sensor.id != null} ? 'Editar Sensor' : 'Novo Sensor'"></h1>

    <form th:action="@{${sensor.id != null} ? '/sensores/editar/' + ${sensor.id} : '/sensores'}"
          th:object="${sensor}" method="post">

        <label>Localização:</label>
        <input type="text" th:field="*{localizacao}"/>
        <div th:if="${#fields.hasErrors('localizacao')}" th:errors="*{localizacao}" class="alert-error"></div>

        <div style="margin-top:15px; text-align:right;">
            <button type="submit" class="btn-primary">Salvar</button>
            <a th:href="@{/sensores}" style="margin-left:10px;">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="~{fragments/_footer :: footer}"></div>
</body>
</html>
