<div xmlns:th="http://www.thymeleaf.org"
     th:if="${#authorization.expression('isAuthenticated()')}">
    <nav th:fragment="navbar">
        <div class="navbar">
            <a th:href="@{/home}" class="navbar-title">Mottu Tracker</a>
            <div class="navbar-links">
                <a th:href="@{/motos}">Motos</a>
                <a th:href="@{/sensores}">Sensores</a>
                <a th:href="@{/alocacoes}">Alocações</a>
                <a th:href="@{/manutencoes}">Manutenções</a>
                <a th:href="@{/logout}">Sair</a>
            </div>
        </div>
    </nav>
</div>
